.project-video {
    width: 100%; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
  }
  
  .project-image {
    width: 100%; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
  }